*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: $base-font-size;
}

body {
  font-family: 'PingFangTC-Regular', '微軟粗黑體', 'Arial', sans-serif;
  color: #303133;
  background-color: #fff5ee;
  box-sizing: border-box;
}
